@import url('https://fonts.googleapis.com/css?family=Niramit');
/*font-family: 'Niramit', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
/*font-family: 'PT Serif', serif;*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/*font-family: 'Ubuntu', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Poppins');
/*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
/*font-family: 'PT Sans Narrow', sans-serif;*/
*{
    padding:0;
    margin:0;
}

body{
    background: rgb(221, 221, 221);
}

/*Header adjustement wtih inputs and menus*/
header{
    background-color: rgb(209, 28, 28);
    height: 90px;
    border-bottom: 2px solid rgb(139, 0, 0);
    width: 100%;
}

img[alt="logo"]{
    height: 110px;
    width: 125px;
    margin: -10px 5px;
}


.SignInForm{
    margin:-80px 240px;
    float:left;
    height:90px;
    width:215px;
}

input[placeholder="Input Password"]{
margin: 10px 0px;
float: left;
}

.SignInForm a{
float: left;
margin:-9px 0px;
font-size: 13px;
font-family: 'Niramit', sans-serif;
font-weight: bold;
text-decoration: none;
}

.SignInForm button{
    margin:-5px 35px;
    float: left;
    background-color: rgb(238, 38, 38);
    border:2px solid rgba(0, 0, 0, 0.205);
    color: white;
    font-size: 14px;
    padding:1px 2px;
}

.SignInForm button:hover{
background:rgb(206, 55, 55);
color: rgb(245, 245, 245);
}

.SignInForm button:active{
    background:rgb(139, 0, 0);
}

/*Navbar setup*/

.menu-list{
    height: 90px;
    float:right;
    margin: -95px 180px;
}


.menu-list li {
list-style: none;
display: inline-block;
margin:0px 0;
transition: all 0.2s;
background-size: 280% 200%;
height: 72px;
vertical-align: middle;
padding:20px 0px 0px 0px;
}

.menu-list li:hover {
   background:rgb(139, 0, 0);
    }

.menu-list a{
    text-decoration: none;
    color: white;
    font-family: 'Niramit', sans-serif;
    font-size: 28px;
    margin:10px 10px;
    

}

.menu-list li:active{
    background: rgb(129, 2, 2);
}

.menu-list li:visited{
background: rgb(119, 15, 15);
}

/*Starting image with btns setup*/

.start-img{
background-image: url("http://cdn.paperhi.com/1920x1080/20130411/minimalistic%20red%20geometry%20simple%20background%20black%20background%20basic%20colors%201920x1080%20wallpaper_www.paperhi.com_10.jpg");
height: 640px;
width:100%;
background-repeat: no-repeat;
color: white;
}

/*http://cdn.paperhi.com/1920x1080/20130411/minimalistic%20red%20geometry%20simple%20background%20black%20background%20basic%20colors%201920x1080%20wallpaper_www.paperhi.com_10.jpg*/

.txtandBtns{
    margin: 200px 40px;
    float: left;
}

.txtandBtns h1{
    font-size: 90px;
    font-family: 'PT Serif', serif;
}

.txtandBtns h2{
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
}

.txtandBtns p{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}


.txtandBtns button{
    margin: 80px 15px;
    background: transparent;
    color: white;
    padding: 5px 6px;
    font-size: 25px;
    border:1px solid white;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s;
    cursor: pointer;
}

.txtandBtns button:hover{
    background: red;
    color:black;
}

.txtandBtns button:active{
    background: rgb(134, 0, 0);
    transition: all 0s;
}

.offers{
    width: 100%;
    height: 700px;
}

article img{
    margin:-65px 130px;
    float: left;
}

.offers article{
    height: 380px;
    width: 18%;
    border:1px solid rgba(0, 0, 0, 0.226);
    text-align: center;
    background: white;
    margin: 65px 40px;
    transition: all 0.2s;
}

.offers article:hover{
    border: 1px solid rgba(255, 0, 0, 0.342);
}

article h2{
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    float: left;
    margin: 22px 0px;
    width: 100%;
}

article p{
    font-family: 'Poppins', sans-serif;
    margin:35px 0;
    float: left;
}

article span{
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: red;
    font-size: 40px;
    margin:5px 0;
}

article button{
    background: rgb(255, 46, 46);
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    border:1px solid rgba(0, 0, 0, 0.199);
    font-size: 25px;
    position: absolute;
    margin: 80px -80px;
    transition: all 0.3s;
    cursor: pointer;
    padding:2px 4px;
}

article:hover button{
    background:white;
    color: red;
    border:1px solid red;
}

 article button:active{
    background: rgb(202, 202, 202);
    transition: none;

}

