@import url('https://fonts.googleapis.com/css?family=Niramit');
/*font-family: 'Niramit', sans-serif;*/
*{
    padding:0;
    margin:0;
}

header{
    background-color: rgb(209, 28, 28);
    height: 90px;
    border-bottom: 2px solid rgb(139, 0, 0);
}

img[alt="logo"]{
    height: 91px;
    width: 210px;
    margin: 0px 5px;
}


.SignInForm{
    margin:-80px 240px;
    float:left;
    height:90px;
    width:215px;
}

input[placeholder="Input Password"]{
margin: 10px 0px;
float: left;
}

.SignInForm a{
float: left;
margin:-9px 0px;
font-size: 13px;
font-family: 'Niramit', sans-serif;
font-weight: bold;
text-decoration: none;
}

.SignInForm button{
    margin:-5px 35px;
    float: left;
    background-color: rgb(238, 38, 38);
    border:2px solid rgba(0, 0, 0, 0.205);
    color: white;
    font-size: 14px;
    padding:1px 2px;
}

.SignInForm button:hover{
background:rgb(206, 55, 55);
color: rgb(245, 245, 245);
}

.SignInForm button:active{
    background:rgb(139, 0, 0);
}

.menu-list{
    height: 90px;
    float:right;
    margin: -95px 180px;
}


.menu-list li {
list-style: none;
display: inline-block;
margin:0px 0;
transition: all 0.2s;
background-size: 280% 200%;
height: 72px;
vertical-align: middle;
padding:20px 0px 0px 0px;
}

.menu-list li:hover {
   background:rgb(139, 0, 0);
    }

.menu-list a{
    text-decoration: none;
    color: white;
    font-family: 'Niramit', sans-serif;
    font-size: 28px;
    margin:10px 10px;
    

}

.menu-list li:active{
    background: rgb(129, 2, 2);
}

.menu-list li:visited{
background: rgb(119, 15, 15);
}

