@import url('https://fonts.googleapis.com/css?family=Niramit');
/*font-family: 'Niramit', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
/*font-family: 'PT Serif', serif;*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/*font-family: 'Ubuntu', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Poppins');
/*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
/*font-family: 'PT Sans Narrow', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
/*font-family: 'Fira Sans', sans-serif;*/

*{
    padding:0;
    margin:0;
}

body{
    background: rgb(221, 221, 221);
}

/*Header adjustement wtih inputs and menus*/
header{
    background-color: rgb(209, 28, 28);
    height: 90px;
    border-bottom: 2px solid rgb(139, 0, 0);
    width: 100%;
}

#menu-icon{
	display:none;
	width: 60px;
	height: 60px;
	background:url(https://i.ibb.co/BjGbWkm/menu-button-of-three-horizontal-lines.png)center no-repeat;
  background-size: 1.5em 1.5em;
}

img[alt="logo"]{
    height: 105px;
    width: 125px;
    margin: -10px 0px;
}


.SignInForm{
    margin:-80px 240px;
    float:left;
    height:90px;
    width:290px;
}

#checkbox{
    margin:-55px 170px; 
    float:left;
}

input[placeholder="Input Password"]{
margin: 10px 0px;
float: left;
}

label{
    margin:0px 30px; 
    font-size: 13px; 
    font-family: 'Niramit', sans-serif; 
    font-weight: bold;
}

.SignInForm a{
float: left;
margin:30px -175px;
font-size: 13px;
font-family: 'Niramit', sans-serif;
font-weight: bold;
text-decoration: none;
}

.SignInForm button{
    margin:-30px 185px;
    float: left;
    background-color: rgb(238, 38, 38);
    border:2px solid rgba(0, 0, 0, 0.205);
    color: white;
    font-size: 14px;
    padding:1px 2px;
    width: 60px;
    outline: none;
}

.SignInForm button:hover{
background:rgb(206, 55, 55);
color: rgb(245, 245, 245);
}

.SignInForm button:active{
    background:rgb(139, 0, 0);
}

/*Navbar setup*/

.menu-list{
    height: 90px;
    float:right;
    margin: -95px 180px;
}


.sub-menu{
    display: none;
    position: absolute;
    background:rgb(209, 28, 28);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 40px;
    top: 90px;
    text-align: center;
    color: white;
    box-shadow: 3px 8px 12px 0px black;
    height: 140px;
}

.sub-menu li a{
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 25px;
    text-align: center;
    width: 120px;
    margin:-15px -75px;
    transition: all 0.3s;
    height:50px;
    position: absolute;
}

.sub-menu li:hover a:hover{
    background: rgb(170, 34, 34);
    color: rgb(177, 161, 133);
}


.menu-item:hover .sub-menu{
    display: block;
}

.menu-list li {
list-style: none;
display: inline-block;
margin:0px 0;
transition: all 0.2s;
background-size: 280% 200%;
height: 75px;
vertical-align: middle;
padding:20px 0px 0px 0px;
border-bottom:2px solid transparent;
}

.menu-list li:hover {
   background:rgb(139, 0, 0);
   border-bottom: 2px solid white;
    }

.menu-list a{
    text-decoration: none;
    color: white;
    font-family: 'Niramit', sans-serif;
    font-size: 28px;
    margin:10px 10px;
    position: relative;
    display: inline-block;  
    

}

.menu-list li:active{
    background: rgb(129, 2, 2);
}

.menu-list li:visited{
background: rgb(119, 15, 15);
}

/*Starting image with btns setup*/

.start-img{
background-image: url("http://cdn.paperhi.com/1920x1080/20130411/minimalistic%20red%20geometry%20simple%20background%20black%20background%20basic%20colors%201920x1080%20wallpaper_www.paperhi.com_10.jpg");
height: 640px;
width:100%;
background-repeat: no-repeat;
color: white;
box-shadow: 2px 7px 18px 1px rgba(0, 0, 0, 0.521);
}

/*http://cdn.paperhi.com/1920x1080/20130411/minimalistic%20red%20geometry%20simple%20background%20black%20background%20basic%20colors%201920x1080%20wallpaper_www.paperhi.com_10.jpg*/

.txtandBtns{
    margin: 200px 40px;
    float: left;
}

.txtandBtns h1{
    font-size: 90px;
    font-family: 'PT Serif', serif;
}

.txtandBtns h2{
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
}

.txtandBtns p{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}


.txtandBtns button{
    margin: 80px 15px;
    background: transparent;
    color: white;
    padding: 5px 6px;
    font-size: 25px;
    border:1px solid white;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s;
    cursor: pointer;
    outline:none;
}

.txtandBtns button:hover{
    background: red;
    color:black;
}

.txtandBtns button:active{
    background: rgb(134, 0, 0);
    transition: all 0s;
}

/*Offers section with prices*/

.offers{
    width: 72%;
    height: 700px;
    margin: -100px 12%;
    float: left;
}

.offers h1{
    font-size: 70px;
    font-family: 'Ubuntu', sans-serif;
}

.offers p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
}

article img{
    margin:10px 130px;
    float: left;
}

.offers article{
    height: 380px;
    width: 18%;
    border:1px solid rgba(0, 0, 0, 0.226);
    text-align: center;
    background: white;
    margin: 65px 30px;
    transition: all 0.2s;
    display: inline-table;
}

.offers article:hover{
    border: 1px solid rgba(255, 0, 0, 0.342);
}

article h2{
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    float: left;
    margin: 18px 0px;
    width: 100%;
}

article p{
    font-family: 'Poppins', sans-serif;
    margin:12px 0;
    float: left;
}

article span{
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: red;
    font-size: 40px;
    margin:-45px 0;
}

article button{
    background: rgb(255, 46, 46);
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    border:1px solid rgba(0, 0, 0, 0.199);
    font-size: 25px;
    position: absolute;
    margin: 60px -70px;
    transition: all 0.3s;
    cursor: pointer;
    padding:2px 4px;
}

article:hover button{
    background:white;
    color: red;
    border:1px solid red;
}

 article button:active{
    background: rgb(202, 202, 202);
    transition: none;

}

/*Mid page searchbar*/

.searchIconBar{
    background: rgb(228, 2, 2);
    width: 100%;
    height: 120px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 820px 0;
    font-size: 30px;
    border:1px solid black;
    box-shadow: 2px 5px 12px 1px rgba(0, 0, 0, 0.356); 
}

.searchIconBar p{
    margin: 35px 380px;
    float: left;
}

input[placeholder="Search..."]{
    float: right;
    background:url(https://image.ibb.co/enYTLV/search.png);
    background-position: 300px 12px;
    background-repeat: no-repeat;
    height: 50px;
    width: 18%;
    background-size: 30px 30px;
    background-color: white;
   margin: -75px 445px;
   outline: none;
}

/*Second pack of icons*/
.scndIconPack{
    margin:-700px 7%;
    text-align: center;
    width: 82%;
    height: 700px;
}

.scndIconPack h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
}

.scndIconPack p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
}


.scndIconPack article{
    height: 380px;
    width: 18%;
    border:1px solid rgba(0, 0, 0, 0.226);
    text-align: center;
    background: white;
    margin: 65px 30px;
    transition: all 0.2s;
    display: inline-table;
}

.scndIconPack button{
    margin: 310px -220px;
}

/*Creator section*/

.details{
    margin: 700px 0;
    background: linear-gradient(135deg, #3f231f 0%,#3f231f 49%,#f6290c 1%,#f02f17 41%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    text-align: center;
    height: 250px;
    width: 100%;
    }


.details p{
    color: white;
    font-family: 'Poppins', sans-serif;
}

img[alt="profilePic"]{
    border-radius: 90px;
    border: 1px solid white;
    box-shadow: 2px 2px 10px 1px rgba(56, 41, 41, 0.384);
    margin: 10px 0px;
    transition: all 0.3s;
}

/*Info*/

.infoSection{
    text-align: center;
    margin: -600px 0;
}

.infoSection p{
    display: inline-block;
    font-size: 20px;
    margin: 0px 50px;
    font-family: 'Poppins', sans-serif;
}

.infoSection a{
    color: red;
    text-decoration: none;
}

p img{
    padding-right:5px; 
}

/*Footer*/

footer{
    clear: both;
    margin: 800px 0;
    background: rgb(34, 34, 34);
    height: 400px;
    width: 100%;
}

.social{
    width: 20%;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 2px 5%;
}

.social img{
    margin:20px 5px;
}

.links{
    width: 20%;
    font-family: 'Poppins', sans-serif;
    float: right;
    margin: -225px 900px;
}

.links h2{
    color: white;
    padding-bottom: 5px;
}

.links a{
    color: red;
    text-decoration: none;
    margin: 10px 0;
    float: left;
}

.links span{
padding:1px 160px;
background: red;
display:block;
transform: rotate(180deg);
-webkit-transform: rotate(180deg); 
-moz-transform: rotate(180deg); 
margin: 0px 0px;
float: left;
}

.updates{
    font-family: 'Poppins', sans-serif;
    width: 18%;
    margin: -225px 880px;
}


.updates span{
        padding:1px 160px;
        background: red;
        display:block;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg); 
        -moz-transform: rotate(180deg); 
        margin: 0px 0px;
        float: left;
        }


#date{
    color: rgb(134, 28, 28);
}

.contact{
    width: 10%;
    float: right;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: -225px 290px;
}

.contact input{
    background:rgb(26, 26, 26);
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    height: 20px;
    width: 155px;
    border: transparent;
    font-size: 15px;
}

textarea{
    height: 150px;
    vertical-align: top;
    background:rgb(26, 26, 26);
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    margin: 4px 0;
    border: transparent;
    color: white;
}

.contact button{
    background: red;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border: transparent;
    font-size: 20px;
    outline: none;
    margin: 2px 0;
    transition: ease-in 0.25s;
    padding: 2px 3px;
}

.contact button:hover{
    background:white;
    color: red;
    border: red;
}

.contact button:active{
    background:rgb(241, 120, 120);
    transition: none;
}

/*Designing the gallery page*/

/*Gallery section*/

.gallery-section{
    width: 85%;
    margin: 85px 18%;
    float: left;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.gallery-section article{
    width: 380px;
    background: white;
    text-align: center;
    display: inline-block;
    height: 450px;
    border:1px solid rgba(255, 0, 0, 0.178);
}

.gallery-section article img{
    margin: 5px 40px;
}

/*Redirect pages*/

.redirect{
    margin: 140px 40px;
    font-size: 20px;
    float: left;
}

.redirect a{
    padding-right:4px;
    color: rgb(184, 56, 56);
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    transition: all 0.3s;
}

.redirect a:hover{
    text-decoration: underline white;
}


/*Comments page */
.comments-section{
    background: white;
    width: 100%;
    margin: 10px auto;
    height: 1400px;
}

.comments-section h1{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
    font-size: 40px;
}

.comments-section p{
    font-size: 25px;
    width: 80%;
     margin: 0px 190px;
    float: left;
}

/*forum posts set up*/

.comments-section article{
    height: 150px;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.205);
    margin: 20px 160px;
    float: left;
}

.comments-section article img{
    float: left;
    margin: 5px 5px;
}

.comments-section article p{
    margin: -60px 90%;
    font-size: 18px;
}

#like{
    color: green;
    background: transparent;
    position:absolute;
    height: 20px;
    text-align: center;
    margin: 50px 0;
    background-position: 20px 20px;
    cursor: pointer;
}

.likes{
width: 100px;
margin: 0px 74%;
position: absolute;
}

#resultLike, #resultDislike{
    position: absolute;
}

.comments-section form{
    margin: 40px 240px;
}


